name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the project
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm ci

    - name: Build the project
      run: npm run build --if-present

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: dist/dtf-expand.user.js,dist/dtf-expand.meta.js
        artifactContentType: application/javascript

    - name: Upload userscript to artifacts
      uses: actions/upload-artifact@v4
      with:
        path: dist/dtf-expand.user.js
        name: dtf-expand.user.js
        retention-days: 5

    - name: Upload metadata to artifacts
      uses: actions/upload-artifact@v4
      with:
        path: dist/dtf-expand.meta.js
        name: dtf-expand.meta.js
        retention-days: 5
